.App {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: rgb(247, 246, 242);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eveleth Dot', sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #f8f9fa;
  padding-top: 20px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  margin: 20px 0;
}

.sidenav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.sidenav ul li a:hover {
  color: #007bff;
}

main {
  margin-left: 220px;
  padding: 20px;
}

.custom-cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #ff6f61;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.15s ease;
  z-index: 9999;
}